html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 2.2fr;
  grid-template-rows: 0.1fr 3.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Titlebar Titlebar"
    "Sidebar MainContent";
}

.Titlebar { 
  grid-area: Titlebar; 
  min-height: 22px;
  position:fixed;
  top: 0;
  width: 100%;
  -webkit-app-region: drag;
  background-color:#191a21;
}
.Titlebar p {
  font-size: 12px;
  color:white;
  top:-10px;
  left:50%;
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.Sidebar { 
  grid-area: Sidebar; 
  background-color: #282a36;
  position:fixed;
  top:22px;
  min-width: 50px;
  min-height: 100%;
  
}
.Sidebar a img{
  display:block;
  margin-left:auto;
  margin-right: auto;
  width: 85%;
}
.Sidebar a img:hover{
  background-color: #3c3d51;
}
.Sidebar a img:active{
  background-color: #72537e;
}
.MainContent { 
  grid-area: MainContent; 
  background-color: #3f4355;
  position: fixed;
  top:22px;
  left: 50px;
  width:100%;
  min-height:100%;
  padding-left: 25px;

}


