html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 2.2fr;
  grid-template-rows: 0.1fr 3.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Titlebar Titlebar"
    "Sidebar MainContent";
}

.Titlebar { 
  grid-area: Titlebar; 
  min-height: 22px;
  position:fixed;
  top: 0;
  width: 100%;
  -webkit-app-region: drag;
  background-color:#191a21;
}
.Titlebar p {
  font-size: 12px;
  color:white;
  top:-10px;
  right:50%;
 
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.Titlebar img {
  display:block;
  height: 22px;
  position: absolute;
  -webkit-app-region: no-drag;
}
.Titlebar img:hover {
  
  filter:brightness(175%)
}
.Titlebar img:active {
  background-color: #6c7180;

}

#exitIcon{
right: 0px;
}
#preferencesIcon{
right: 24px;
}
.preferencesActive{
  background-color: #6c7180;
}

.Sidebar { 
  grid-area: Sidebar; 
  background-color: #343746;
  position:fixed;
  top:22px;
  min-width: 50px;
  min-height: 100%;
  
}
.Sidebar a img{
  display:block;
  margin: auto;
  width: 47px;
  filter:grayscale(75%);
}
.Sidebar a img:hover{
  filter:grayscale(0%);

}

#sidebaractive{
  filter: grayscale(0%);
}
#borderFix{
  border-left: 2px solid #7e558f;
  background-color: #6c7180;
  margin-right:2px;
}
.MainContent { 
  grid-area: MainContent; 
  background-color: #282a36;
  position: fixed;
  top:22px;
  left: 50px;
  width:100%;
  min-height:100%;
  outline: 1px solid #191a21;

}
